header {
  background: url('../images/modelgold.jpg');
  background-size: cover;
  background-position: center;
  background-color: black;
  color: white;
  height: 770px;
  margin: 0px;
  text-align: center;
  background-repeat: no-repeat;
}


#about {
  background: url('../images/blackgold.jpg');
  background-size: cover;
  background-position: center;
  color: black;
  height: 770px;
  margin: 0px;
  text-align: center;
  background-repeat: no-repeat;
}


body {
  background-color: rgba(1,1,1,1);
  font-family: 'Shadows Into Light', cursive;
  margin: 0px;
  color: white;
}


ul {
  background: rgba(1,1,1,0.9);
  font-family: 'Shadows Into Light', cursive;
  font-size: 25px;
  font-weight: bold;
  padding: 10px;
  position: fixed;
  text-align: center;
  width: 100%;
  margin: 0px;
}


a {
  color: rgba(255,255,255,1);
  text-decoration: none;
}

li {
  display: inline;
  padding: 10px 50px 10px 50px;
  margin: 20px auto
}


h1 {
  font-size: 72px;
  margin-top: 10px;
}

h2 {
  text-align: center;
  font-size: 30px;
}
.paddingtop {
  padding-top: 20px;
  color: white;
}

p {
  font-size: 25px;
  padding-top: 60px;
}

.padding {
  padding: 15px 110px 20px 110px;
  font-size: 19px;
  color: white;
}

div {
  width: 350px;
  height: 550px;
  background-color: rgba(8,1,1,0.37);
  text-align: center;
  margin: 130px 0px 0px 30px;
  position: absolute;
  color: rgba(255,255,255,1);
}


.aboutus {
  background-color: rgba(8,1,1,0.37);
  width: 300px;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -150px;
}


article {
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
}
.underline {
  text-decoration: underline;
}



* {
    box-sizing: border-box;
}

.column1 {
background-color: rgba(8,1,1,.7);
    float: left;
    width: 75%;
    height: 400px;

}

.column2 {
    background: url('../images/modelgold2.jpg');
    background-size: cover;
    float: left;
    width: 25%;
    height: 400px;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


@media (max-width: 500px) {
  h1 {
    font-size: 36px;
    padding: 5px;
  }
  li {
    padding: 5px;
    display: block;
  }
}
