body {
  margin: 0;
  padding: 0;
  background-color: rgb(255,255,240);
  font-family: "Trebuchet MS", sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(222,184,135);
    font-family: "Trebuchet MS", sans-serif;
    font-size: 17px;
}

li {
    float: left;
    padding: 2px 20px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: rgb(205,133,63);
}


#portfolio {
 background: url('../images/biscuits.jpg');
 background-size: cover;
 background-position: center;
 color: black;
 height: 700px;
 margin: 0px;
 text-align: center;
 background-repeat: no-repeat;
}

.aboutus {
 background-color: rgba(8,1,1,0.37);
 width: 500px;
 height: 500px;
 position: absolute;
 left: 50%;
 color: rgba(255,255,255,1);
 text-align: center;
 margin: 100px 0px 0px -250px;
}

h1 {
  padding: 30px;
  margin: 25px;
  font-size: 100px;
  text-align: center;
  font-family: "Lucida Console", monospace;
}

p {
  padding: 10px 100px 40px 100px;;
  margin: 25px;
  text-align: center;
}

h2 {
  padding: 40px 80px 10px 80px;
  margin: 25px;
  text-align: center;
  font-family: "Lucida Console", monospace;
  font-size: 40px;
}

.centre {
  text-align: center;
}

button {
  color: white;
  background-color: #523825;
  border: none;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: white;
}

.container2 {
  background-color: rgb(255,255,240);
  color: #523825;
  width: 100%;
  height: 300px;
  padding: 0;
  margin: 0;
}
.banner {
  background-color: #523825;
  width: 100%;
  height: 300px;
  padding: 0;
  margin: 0;
}

.bottompg {
  padding-top: 50px;
  margin: 0;
  color: rgb(255,255,240);
}



* {
   box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column1 {
  background: url('../images/digestivebiscuits.jpg');
  background-size: cover;
   float: left;
   width: 60%;
   height: 460px;
}

.column2 {
  background-color: rgb(245,45,52);
   float: left;
   width: 40%;
   height: 460px;
   color: white;
}

.column3 {
  background-color: rgb(43,98,250);
   float: left;
   width: 40%;
   height: 460px;
   color: white;
}

.column4 {
   background: url('../images/hobnobs.jpg');
   background-size: cover;
   float: left;
   width: 60%;
   height: 460px;
}

.column5 {
   background: url('../images/jaffacakes2.jpg');
   background-size: cover;
   float: left;
   width: 60%;
   height: 460px;
}

.column6 {
   background-color: rgb(245,198,45);
   float: left;
   width: 40%;
   height: 460px;
   color: white;
}

.column7 {
   background: rgb(205,133,63);
   background-size: cover;
   float: left;
   width: 50%;
   height: 500px;
   color: white;
   padding-top: 60px;

}

.column8 {
   background: url('../images/oreos.jpg');
   background-size: cover;
   float: left;
   width: 50%;
   height: 500px;
}

/* Clear floats after the columns */
.row:after {
   content: "";
   display: table;
   clear: both;
}

.column-left {
  float: left;
  width: 33%;
  height:450px;
  background: url('../images/bourbon.jpg');
  background-size: cover;
  background-position: center;
}

.column-right {
  float: right;
  width: 33%;
  height:450px;
  background: url('../images/biscuitcake.jpg');
  background-size: cover;
  background-position: center;
}
.column-center {
  display: inline-block;
  width: 34%;
  height:450px;
  background: url('../images/victoria.jpg');
  background-size: cover;
  background-position: center;
}




@media screen and (max-width: 1200px) {
   .column1 {
       width: 100%;
   }
   .column2 {
       width: 100%;
   }
   .column3 {
       width: 100%;
   }
   .column4 {
       width: 100%;
   }
   .column5 {
       width: 100%;
   }
   .column6 {
       width: 100%;
   }
   .column7 {
       width: 100%;
   }
   .column8 {
       width: 100%;
   }
}
